*{
  font-family: "Yu Mincho";
}

.App {
  max-width: 640px;
  height: 100vh;
  background-color: #ffffff;
  overflow: scroll;
  text-align: center;
}
.container{
  margin: 0;
}

.header-Ticketme{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo{
  height: 60px;
  width: 120px;
  margin: 10px;
}

.header-Icon{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header-Icon img{
  height: 40px;
  width: 40px;
  margin: 5px;
}

.Overview{
  font-family: "Hiragino Mincho ProN";
  font-size: 40px;
  margin: 0;
}
.information{
  font: optional;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 10px;
}

h2 p{
  width: 50px;
  height: 45px;
  display: flex;
}

.img{
  max-width: 100%;
}

.Table{
  margin: 10px;
}

.Title_pur{
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.Ticket-content{
  text-align: left;
  margin-left: 6%;
  margin-top: 5px;
}

.Ticket-content1{
  font-size: 30px;
  margin: 0;
}

.Ticket-content2{
  font-size: 30px;
  margin: 0;
}

.sub-content{
  font-size: 12px;
  margin: 3;
}

.SubTitle_pur{
  font-size: 16px;
  margin-top: 0%;
  margin: 5px;
}

.NFTIcon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
}

.icon-boar{
  width: 10em;
  height: 10em;
}

.icon-deer{
  width: 160px;
  height: 160px;
}

.Button{
  width: 240px;
  display: flex;
  margin-left: 25%;
}

.footer-container{
  margin-bottom: 0;
  background-color: antiquewhite;
  
}

.Wallet{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Walletcom1{
  justify-content: left;
  align-items: baseline;
}

.MyPage{  
  height: 50vh;
  width: 100%;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
